.place_type_forest {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-template-areas: 
  "image-forest text-forest";
}

@media (max-width: 562px) {
  .place_type_forest {
    display: flex;
    flex-direction: column;
  }
}